.about-section {
  /* padding: 32px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: linear-gradient(to right, #ECF2FF, #FBFCFF);
}

.about-title {
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.about-title > span {
  position: relative;
}
.about-title span::before {
  content: '';
  position: absolute;
  width: 75%;
  height: 4px;
  background-color: #9D2553;
  border-radius: 8px;
  left: 0;
  bottom: -12px;
}

.about-description-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-left: calc(var(--navbar-width));
  /* padding-left: 10px; */
}

.about-description-company, .about-description-objective {
  background: linear-gradient(to left, #ECF2FF, #ceccd6);
}

/* Image */
.about-image-content {
  flex: 1;
  max-width: 45%;
  display: flex;
  justify-content: center;
  margin-right: 0;
  /* max-width: 100%; */
}
.about-image1 {
  width: 80%;
  height: auto;
}
/* Text */
.about-text-content {
  text-align: justify;
  width: 65%;
  margin-right: 10px;
  margin-left: 10px;
}

.about-description {
  margin: 32px 0;
  color: #4d4b4b;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  letter-spacing: .7px;
  line-height: 1.7rem;
}

.fa-icon {
  color: #9D2553;
}

@media screen and (max-width: 820px) {
  .about-description-container {
    /* margin-left: 4rem; */
    margin-left: 0;
    padding: 0 20px;
  }

  .about-image-content {
    display: none;
  }

  .about-text-content {
    width: 100%;
  }
}