.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f7f7f7; /* Off-white background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    opacity: 1; /* Start fully visible */
    transition: all 1.5s ease-in-out;
}

.hidden {
    opacity: 0; /* When this class is added, it fades out */
}

.dots-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Fixed typo: 'conteant' -> 'content' */
    height: 100%;
    width: 100%;
  }
  
  .dot {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 50%; /* Changed to fully round the dot */
    background-color: #b3d4fc;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  .dot:last-child {
    margin-right: 0;
  }
  
  .dot:nth-child(1) {
    animation-delay: -0.3s;
  }
  
  .dot:nth-child(2) {
    animation-delay: -0.1s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.1s;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.8);
      background-color: #b3d4fc;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  
    50% {
      transform: scale(1.2);
      background-color: #6793fb;
      box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }
  
    100% {
      transform: scale(0.8);
      background-color: #b3d4fc;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  }
  
  .pravayu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-family: Arial, sans-serif;
    padding-bottom: 1.5rem;
    /* line-height: 5rem; */
  }
  
  .letter {
    display: inline-block;
    margin-right: 5px;
    animation: text-pulse 1.5s infinite ease-in-out;
    color: #6793fb;
  }
  
  .letter:last-child {
    margin-right: 0;
  }
  
  @keyframes text-pulse {
    0% {
      transform: scale(0.95);
      color: #8fb5e4;
      text-shadow: 0 0 0 0 rgba(178, 212, 252, 0.9);
    }
    50% {
      transform: scale(1.05);
      color: #6793fb;
      text-shadow: 0 0 10px rgba(178, 212, 252, 0.7);
    }
    100% {
      transform: scale(0.95);
      color: #8fb5e4;
      text-shadow: 0 0 0 0 rgba(178, 212, 252, 0.9);
    }
  }

@media screen and (max-width: 580px) {
    .pravayu-container {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 380px) {
    .pravayu-container {
        font-size: 1.2rem;
    }
}