.Contact {
  margin-bottom: 4rem;
}

.contact-title {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 70px;
  }
  .contact-title > span {
    position: relative;
  }
  .contact-title span::before {
    content: '';
    position: absolute;
    width: 75%;
    height: 4px;
    background-color: #9D2553;
    border-radius: 8px;
    left: 0;
    bottom: -12px;
  }