.nav-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    color: rgb(0, 0, 0);
  }
  
  .dropdown-menu {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
  }