/* ContactForm.css */

/* Ensure box-sizing applies to all elements */
*,
*::before,
*::after {
    box-sizing: border-box;
}

.contact-form-container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.contact-form-container h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form .form-label {
    margin-top: 1.5rem;
    margin-bottom: 8px;
    text-align: left;
    display: block;
}

.contact-form .input-field,
.contact-form .textarea-field {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    transition: border-color 0.3s ease;
    width: 100%; /* Ensure full width */
    max-width: 100%; /* Prevent overflow */
    margin: 0; /* Reset any default margins */
}

.contact-form .input-field:focus,
.contact-form .textarea-field:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.contact-form .textarea-field {
    resize: vertical;
}

.send {
    display: flex;
    justify-content: center;
    padding: 1.2rem;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .contact-form-container {
        padding: 20px;
    }
}
