.custom-slider {
    height: 500px; /* Adjust the height as needed */
    margin-bottom: 5rem;
  }
  
  .custom-slider .awssld__wrapper {
    height: 100%;
  }
  
  .custom-slider .awssld__content {
    height: 100%;
  }
  
  .custom-slider .awssld__content img {
    object-fit: cover; /* Ensure images fit well within the slider */
    height: 100%;
  }
  